<app-card>
  <article>
    <h3><label>Fakturanummer:</label> {{ faktura.invoiceNumber }}</h3>
    <label>Skapad:</label> <time>{{ faktura.issueDate }}</time>
    <p><label>Förfallodatum:</label><time> {{ faktura.dueDate }}</time></p>
    <p><label>Rubrik:</label> {{ faktura.clientName }}</p>
    <ul>
      @for (i of faktura.items; track i.id) {
        <p><label>Beskrivning:</label> {{ i.description }}</p>
        <p><label>Antal:</label> {{ i.quantity }}</p>
        <p><label>Pris:</label> {{ i.price }}</p>
        <p><label>Total:</label> {{ i.total }}</p>
      }
    </ul>
    <p><label>Status:</label> {{ faktura.status }}</p>
    <button (click)="onEditFaktura()">Ändra</button>
    <button (click)="onDeleteFaktura()">Ta bort</button>
    <button (click)="onPaidFaktura()">Betald</button>
  </article>
</app-card>
