<div class="backdrop" (click)="onCancel()"></div>
<dialog open>
  <h2>Ny kontakt</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label class="form-group required" for="name">Namn</label>
      <input
        type="text"
        id="name"
        name="name" [(ngModel)]="enteredName"
        minlength="3"
        maxlength="50"
        #nameInput="ngModel"
      />
      @if (nameInput.errors) {
        @switch (true) {
          @case (nameInput.hasError('minlength')) {
            Kundnamn måste vara mellan 2 and 100 tecken.
          }
          @case (nameInput.hasError('maxlength')) {
            Kundnamn måste vara mellan 2 and 100 tecken.
          }
        }
      }
    </p>

    <p>
      <label class="form-group required" for="company">Företag</label>
      <input
        type="text"
        id="company"
        name="company" [(ngModel)]="enteredCompany"
        minlength="3"
        maxlength="50"
      />
    </p>

    <p>
      <label for="category">Kategori</label>
      <input type="text" id="category" name="category" [(ngModel)]="enteredCategory"/>
    </p>

    <p>
      <label class="form-group required" for="phone">Telefon</label>
      <input
        type=text
        id="phone"
        name="phone" [(ngModel)]="enteredPhone"
        pattern="^[\+]?[(]?[0-9]{2,3}[)]?[-\s\.]?[0-9]{2,3}[-\s\.]?[0-9]{4,6}$"
        #phoneInput="ngModel"
      />

      @switch (true) {
        @case (phoneInput.hasError('pattern')) {
          Ange ett giltigt telefonnummer (t.ex. +46 123 456 789 eller 0123-456789)
        }
      }

    </p>

    <p>
      <label class="form-group required" for="email">Email</label>
      <input
        type="text"
        id="email"
        name="email" [(ngModel)]="enteredEmail"
        pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
        #emailInput="ngModel"
      />

      @switch (true) {
        @case (emailInput.hasError('required')) {
          E-postadress är obligatorisk
        }
        @case (emailInput.hasError('email') || emailInput.hasError('pattern')) {
          Ange en giltig e-postadress ('exempel: name{{'@'}}domain.com')
        }
      }

    </p>

    <p>
      <label for="address">Adress</label>
      <input type="text" id="address" name="address" [(ngModel)]="enteredAddress"/>
    </p>

    <p>
      <label for="notes">Anteckningar</label>
      <input type="text" id="notes" name="notes" [(ngModel)]="enteredNotes"/>
    </p>

    <p>
      <label for="status">Status</label>
      <select name="status" id="status" [(ngModel)]="enteredStatus">
        <option value="ACTIVE">Active</option>
        <option value="INACTIVE">Inactive</option>
      </select>
    <p>

    <p class="actions">
      <button type="submit">Spara</button>
      <button type="button" (click)="onCancel()">Stäng</button>
    </p>
  </form>
</dialog>
