<app-card>
  <article>
    <h3>Fakturanummer: {{ faktura.invoiceNumber }}</h3>
    <time>Skapad: {{ faktura.issueDate }}</time>
    <time>Förfallodatum: {{ faktura.dueDate }}</time>
    <p>Rubrik: {{ faktura.clientName }}</p>
    <ul>
      @for (i of faktura.items; track i.id) {
        <p>Beskrivning: {{ i.description }}</p>
        <p>Antal: {{ i.quantity }}</p>
        <p>Pris: {{ i.price }}</p>
        <p>Total: {{ i.total }}</p>
      }
    </ul>
    <p>Totalsumma: {{ faktura.totalAmount }}</p>
    <p>Status: {{ faktura.status }}</p>
    <button>Ändra</button>
    <button>Ta bort</button>
    <button>Betald</button>
  </article>
</app-card>
