<app-card>
  <article>
    <h3><label>Rubrik:</label> {{ arende.title }}</h3>
    <p><label>Beskrivning:</label> {{ arende.description }}</p>
    <p><label>Typ:</label> {{ arende.type }}</p>
    <p><label>Prioritet:</label> {{ arende.priority }}</p>
    <p><label>Status:</label> {{ arende.status }}</p>
    <p><label>Skapad av:</label> {{ arende.reportedBy }}</p>
    <p><label>Tilldelad:</label> {{ arende.assignedTo }}</p>
    <p><label>Plats:</label> {{ arende.location }}</p>
    <p><label>Uppskattad kostnad:</label> {{ arende.estimatedCost }}</p>
    <p><label>Faktisk kostnad:</label> {{ arende.actualCost }}</p>
    <p><label>Startdatum:</label> {{ arende.startTime }}</p>
    <p><label>Lösning:</label> {{ arende.resolution }}</p>
    <p><label>Beroende partners:</label> {{ arende.requiresContractor }}</p>
    <p><label>Kontraktsinformation:</label> {{ arende.contractorInfo }}</p>
    <ul>
      @for (u of arende.updates; track u.id) {
        <p><label>Påbörjat:</label> {{ u.timestamp }}</p>
        <p><label>Beskrivning:</label>{{ u.message }}</p>
        <p><label>Uppdaterad:</label> {{ u.updatedBy }}</p>
        <p><label>Status:</label> {{ u.status }}</p>
      }
    </ul>
    <p><label>Skapad:</label>{{ arende.createdAt }}</p>
    <p><label>Status:</label> {{ arende.status }}</p>

    <button (click)="onEditArende()">Ändra</button>
    <button (click)="onDeleteArende()">Ta bort</button>
    <button (click)="onResolved()">Löst</button>
  </article>
</app-card>
