<app-header></app-header>
<main>
  <div id="bar-buttons">
    <app-utlaggbutton (utlaggEvent)="onUtlaggEvent($event)"/>
    <app-fakturabutton (fakturaEvent)="onFakturaEvent($event)"/>
    <app-kontakterbutton (kontaktEvent)="onKontakterEvent($event)"/>
    <app-arendenbutton (arendenEvent)="onArendenEvent($event)"/>
  </div>

  @if (arendeEventReceived) {
    <app-arenden/>
  }
  @if (utlaggEventReceived) {
    <app-utlagglista/>
  }

  @if (kontaktEventReceived) {
    <app-kontakter/>
  }

  @if (fakturaEventReceived) {
    <app-fakturor/>
  }
</main>
