<app-header></app-header>
<main>
  <div id="bar-buttons">
    <app-utlaggbutton (utlaggEvent)="onClickedUtlagg($event)">Utlägg</app-utlaggbutton>
    <app-fakturabutton (fakturaEvent)="onClickedFaktura($event)">Faktura</app-fakturabutton>
    <app-kontakterbutton (kontaktEvent)="onClickedKontakter($event)">Kontakter></app-kontakterbutton>
    <app-arendenbutton (arendenEvent)="onClickedArenden($event)">Arende</app-arendenbutton>
  </div>
  @if (isArendenClicked) {
    <app-arenden/>
  }
  @if (isFakturaClicked) {
    <app-fakturor/>
  }
  @if (isKontakterClicked) {
    <app-kontakter/>
  }
  @if (isUtlaggClicked) {
    <app-utlagglista/>
  }
</main>
