<app-card>
  <article>
    <h3><label>Namn:</label> {{kontakt.name}}</h3>
    <p><label>Företag:</label> {{kontakt.company}}</p>
    <p><label>Kategori:</label> {{kontakt.category}}</p>
    <p><label>Telefon:</label> {{kontakt.phone}}</p>
    <p><label>Email:</label> {{kontakt.email}}</p>
    <p><label>Adress:</label> {{kontakt.address}}</p>
    <p><label>Anteckningar:</label> {{kontakt.notes}}</p>
    <p><label>Status:</label> {{kontakt.status}}</p>
    <button (click)="onEditKontakt()">Ändra</button>
    <button (click)="onDeleteKontakt()">Ta bort</button>
  </article>
</app-card>
