#menu-buttons {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 52rem;
  margin: 0 auto auto;
  text-align: center;
  background: linear-gradient(
    to bottom,
    #eaeaea,
    lightgrey
  );
  padding: 1rem;
  box-shadow: 0 1px 8px rgba(0, 0, 0, 0.6);
}

#login-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2em;
}

#logout-btn {
  margin-left: auto;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0;
  font-size: 1.2em;
}

button {
  border: none;
  border-radius: 4px;
  color: black;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 12px;
  margin: 4px 2px;
  width: fit-content;
}

label {
  font-weight: bold;
}

button:hover,
button:active {
  background-color: darkgrey;
}

.no-bullets {
  list-style: none;
}
